body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  width: 0px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb{
  background-color: #1D2B39;
  height:20px;
  border-radius: 5rem;
}


*{
  margin: 0;
  padding: 0;
  
}